* {
  box-sizing: border-box;
}

// 大枠
// ------------------------------------
.wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #fff;
}

// サイドバー上部
// ------------------------------------
.side-box {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.side-box__menu {
  height: 20px;
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.side-box__menu__name {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.side-box__menu__icon {
  width: 60px;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
}
.side-box__menu__icon__edit {
  color: #fff;
  text-decoration: none;
}
.side-box__menu__icon__cog {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}

// サイドバー下部
// ------------------------------------
.side-groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
}

.side-groups__box {
  color: #fff;
  font-weight: bold;
  margin-bottom: 40px;
}
.side-groups__name {
  font-size: 15px;
}
.side-groups__box__message {
  margin-top: 5px;
  font-size: 11px;
}

// メイン画面上部
// ------------------------------------
.main-top {
  height: 100px;
  background-color: #fff;
}

.main-top__info {
  padding: 0 40px;
}
.main-top__info__list {
  display: flex;
  justify-content: space-between;
}

.main-top__info__list__name {
  color: #333;
  font-size: 20px;
  padding: 35px 0 15px;
}
.main-top__info__list__edit {
  font-size: 16px;
  height: 40px;
  width: 72px;
  border: 1px solid #38aef0;
  padding: 0 20px;
  line-height: 40px;
  margin-top: 28px;
  cursor: pointer;
}
.main-top__info__list__edit__text {
  color: #38aef0;
  text-decoration: none;
}
.main-top__info__member {
  color: #999;
  font-size: 12px;
}

// メイン画面メッセージ部分
// ------------------------------------
.main-list {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding-top: 35px;
}

.main-list__box {
  padding: 0 40px;
}
.main-list__box__top {
  display: flex;
  justify-content: flex-start;
}
.main-list__top__box__name {
  color: #333;
  font-size: 16px;
}
.main-list__top__box__time {
  color: #999;
  font-size: 12px;
  margin-left: 5px;
}
.main-list__box__message {
  color: #434a54;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 46px;
}

// メイン画面フォーム部分
// ------------------------------------
.main-form {
  height: 90px;
  background-color: #d2d2d2;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.main-form__new {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-form__new__type {
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-form__new__type__text {
  text-decoration: none;
  width: 100%;
  padding-left: 10px;
}
.main-form__new__type__image {
  color: #000;
  position: absolute;
  font-size: 1.5rem;
  right: 10px;
  cursor: pointer;
}
.main-form__new__type__image__data {
  display: none;
}

.main-form__new__send {
  color: #fff;
  height: 50px;
  min-width: 100px;
  line-height: 50px;
  text-align: center;
  margin-left: 15px;
  background-color: #38aef0;
  cursor: pointer;
}